<div
  style="
    background-image: url('../public/chatAppbackground.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  "
>
  <h1>Hello, it's a dash</h1>
</div>
